@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: rgb(241, 239, 233);
}

h1{
  text-align: center;
}

h2{
  font-size: medium;
}

*{
  font-family: 'Poppins', sans-serif;
}

button{
  background-color: #d1bfbf;
  border: 1px;
  border-radius: 5px;
  font-size: 15px;
  margin: 3px;
}

button:hover{
  background-color: #afa0a0;
}

input[type= range]{
  background-color: #afa0a0;
}

#ponastavi{
  float: right;
  font-size: 20px;
}